
.blog {
  width: 100%;
  height: 100%;
}

.side-bar{
  position: fixed;
  top: 64px;
  box-shadow: 6px 0 6px rgba(0,0,0,.1);
}

.menu-item {
  width: 260px;
}

.menu-item button{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #D6DCE9;
}

.menu-item button:hover {
  border: none;
}

.blog-content {
  padding: 20px 50px;
  position: fixed;
  top: 64px;
  right: 0;
  left: 0;
}
