<markdown>
# Angular Statr
---
- Create a angular project

```js
ng new project
```

- install dependencies

```js
npm install
```

- start project

```js
npm start  // localhost:4200  Default port
ng serve --port 3200 // localhost:3200  Designation port
```

## Introduce the third party libaraies([ngx-bootstrop](https://valor-software.com/ngx-bootstrap))
- install

```js
npm install ngx-bootstrap bootstrap --save
```
- introduce

```js
// app.module.ts
import {{'{'}} AlertModule {{'}'}} from 'ngx-bootstrap';
import {{'{'}} ButtonsModule {{'}'}} from 'ngx-bootstrap';
...

@NgModule({{'{'}}
   imports: [
       AlertModule.forRoot(),
       ButtonsModule.forRoot()
    ]
{{'}'}})
```
- angular-cli.json settings
```json
"styles": [ // css introduce
    "../node_modules/bootstrap/dist/css/bootstrap.min.css",
    "styles.css",
],
"scripts":[] // js introduce
```

## Less & Sass introduce ([Sass](https://scotch.io/tutorials/using-sass-with-the-angular-cli)) ([Less](https://scotch.io/tutorials/getting-started-with-less))

- Create a new project with Sass or Less with the following
```js
ng new my-sassy-app --style=sass
ng new my-sassy-app --style=less
```

- Converting a current app to Sass
tell angular-cli to start process .sass files.
```js
ng set defaults.styleExt sass
```
the hood at what this command did? Look at the file of angular-cli.json
```json
"defaults": {{'{'}}
    "styleExt": "scss",
    "component": {{'{'}}
    {{'}'}}
{{'}'}}
```
- You may have to Converting .css files to .sass manually

<br>
<br>
<br>
<br>
</markdown>
